.flex {
	display: flex;
}

.jc-c {
	justify-content: center;
}

.jc-sb {
	justify-content: space-between;
}

.jc-sa {
	justify-content: space-around;
}

.ai-c {
	align-items: center;
}

.fd-rx {
	flex-direction: row-reverse;
}

.fd-y {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.p1 {
	padding: 10px;
}

.p2 {
	padding: 20px;
}

.p3 {
	padding: 30px;
}

.p4 {
	padding: 40px;
}

.p5 {
	padding: 50px;
}

.pl1 {
	padding-left: 10px;
}

.pl2 {
	padding-left: 20px;
}

.pl3 {
	padding-left: 30px;
}

.pl4 {
	padding-left: 40px;
}

.pl5 {
	padding-left: 50px;
}

.pt1 {
	padding-top: 10px;
}

.pt2 {
	padding-top: 20px;
}

.pt3 {
	padding-top: 30px;
}

.pt4 {
	padding-top: 40px;
}

.pt5 {
	padding-top: 50px;
}

.pr1 {
	padding-right: 10px;
}

.pr2 {
	padding-right: 20px;
}

.pr3 {
	padding-right: 30px;
}

.pr4 {
	padding-right: 40px;
}

.pr5 {
	padding-right: 50px;
}

.pb1 {
	padding-bottom: 10px;
}

.pb2 {
	padding-bottom: 20px;
}

.pb3 {
	padding-bottom: 30px;
}

.pb4 {
	padding-bottom: 40px;
}

.pb5 {
	padding-bottom: 50px;
}

.m1 {
	margin: 10px;
}

.m2 {
	margin: 20px;
}

.m3 {
	margin: 30px;
}

.m4 {
	margin: 40px;
}

.m5 {
	margin: 50px;
}

.ml1 {
	margin-left: 10px;
}

.ml2 {
	margin-left: 20px;
}

.ml3 {
	margin-left: 30px;
}

.ml4 {
	margin-left: 40px;
}

.ml5 {
	margin-left: 50px;
}

.mt1 {
	margin-top: 10px;
}

.mt2 {
	margin-top: 20px;
}

.mt3 {
	margin-top: 30px;
}

.mt4 {
	margin-top: 40px;
}

.mt5 {
	margin-top: 50px;
}

.mr1 {
	margin-right: 10px;
}

.mr2 {
	margin-right: 20px;
}

.mr3 {
	margin-right: 30px;
}

.mr4 {
	margin-right: 40px;
}

.mr5 {
	margin-right: 50px;
}

.mb1 {
	margin-bottom: 10px;
}

.mb2 {
	margin-bottom: 20px;
}

.mb3 {
	margin-bottom: 30px;
}

.mb4 {
	margin-bottom: 40px;
}

.mb5 {
	margin-bottom: 50px;
}

.layui-fluid>div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	opacity: 1;
	background-color: #fff;
}

.trans {
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}

.bgc {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bgc>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#container {
	position: absolute;
	width: 100vw;
	height: 40pt;
	bottom: 20pt;
	filter: url(#threshold) blur(0.6px)
}

#text1,
#text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	text-align: center;
	user-select: none;
	color: #000;
}

.layui-col-xs6 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.layui-col-xs3 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.layui-col-xs4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.layui-col-xs2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	/* background-image: url(../static/ddd.jpg); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 16vh;
	height: 16vh;
	overflow: hidden;
	border-radius: 50%;
}